/* 폰트 */
/* 폰트-나눔고딕 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* 폰트-둘기마요 */
@font-face {
  font-family: 'Dovemayo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 폰트-스텐실 */
@font-face {
  font-family: 'stencil';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/stencil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 폰트-어비푸딩체 */
@font-face {
  font-family: 'UhBeepuding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff') format('woff');
  font-weight: normal; font-style: normal;
}

/* 키프레임 */
/* 프로필 무빙 키프레임 */
@keyframes profMov {
  0% { left: 0px; }
  50% { left: -465px; }
  100% { left: 0px; }
}

/* 하트 두근거림 */
@keyframes heartMov {
  0% { transform: scale(1); }
  50% { transform: scale(1.25); }
  100% { transform: scale(1); }
}

/* 별 회전 */
@keyframes starMov {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(72deg); }
  40% { transform: rotate(144deg); }
  60% { transform: rotate(216deg); }
  80% { transform: rotate(288deg); }
  100% { transform: rotate(360deg); }
}

/* 배경 비 이동 */
@keyframes rainMov {
  0% {background-position: 0px 0px;}
  100% {background-position: 5000px 11000px;}
}

/* 마우스 커서 */

/* 커서-기본 */
html,
body,
.fr-popup.emoticons,
.fr-desktop,
.fr-active,
.fr-tooltip,
.fr-sticky-off,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt  {
  cursor: url(https://cdn.discordapp.com/attachments/391626822779011076/661965379005972511/3380e05d1af8cb52.png),auto !important;
}

/* 커서-링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
#aw0,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img.fr-dib.fr-fil,
.fr-popup .fr-emoticon,
.fr-popup .fr-color-set>span,
.fr-popup .fr-colors-tabs .fr-colors-tab,
.fr-popup .fr-color-hex-layer .fr-action-buttons button,
.fr-popup .fr-checkbox input,
.fr-popup .fr-action-buttons button.fr-command,
.fr-popup .fr-checkbox-line label,
.fr-popup .fr-image-upload-layer .fr-form,
.pull-left,
a {
  cursor: url(https://cdn.discordapp.com/attachments/391626822779011076/661965431078125578/45a4969aedda6f9d.png), auto !important;
}

/* 커서-텍스트 */
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-element.fr-view,
.fr-box.fr-basic.fr-element,
textarea.fr-code,
input[type='text'] {
  cursor: url(https://cdn.discordapp.com/attachments/391626822779011076/661965442604335154/27abea04602a31d2.png), auto !important;
}

/* 배경 색상 */
html {
  background: -webkit-linear-gradient(282deg, #000000 6%,#162338 26%,#6f26a2 39%,#ef5fcd 58%,#ffabb1 90%);
  height: auto !important;
}

/* 바디 기본세팅 – 폰트, 비 무빙 */
body {
  letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url(https://cdn.discordapp.com/attachments/391626822779011076/565159811457613824/rain-re3.png);
  animation: rainMov 25s linear infinite;
}

/*오른쪽하단 캐릭터(창 해상도 의존 사이즈 변경)*/
body:after {
  content: "";
  background-image: url(https://cdn.discordapp.com/attachments/391626822779011076/653524511160926208/1_1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right bottom;
  letter-spacing: -0.05em !important;
  position: fixed;
  left : 0px;
  right : 0px;
  top : 0px;
  bottom : 0px;
  z-index: -2;
}
@media ( min-width: 1851px ) {
  body:after {
    background-size: 350px auto;
  }
}
@media ( max-width: 1850px ) {
  body:after {
    background-size: 350px auto;
  }
}
@media ( max-width: 1770px ) {
  body:after {
    background-size: 300px auto;
  }
}
@media ( max-width: 1700px ) {
  body:after {
    background-size: 250px auto;
  }
}
@media ( max-width: 1600px ) {
  body:after {
    background-size: 200px auto;
  }
}
@media ( max-width: 1500px ) {
  body:after {
    background-size: 150px auto;
  }
}
@media ( max-width: 1400px ) {
  body:after {
    background-size: 100px auto;
  }
}
@media ( max-width: 1300px ) {
  body:after {
    background-size: 50px auto;
  }
}
@media ( max-width: 1200px ) {
  body:after {
    background-size: 30px auto;
  }
}
@media ( max-width: 1200px ) {
  body:after {
    background: transparent;
  }
}

/* 헤더 */

/* 좌측상단 로고 */
header .row>div:nth-child(1)>a {
  display: block;
  width: 157px;
  height: 50px;
  background: url(https://cdn.discordapp.com/attachments/391626822779011076/648126686902091807/Untitled-1.png) no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
  display: none;
  filter: grayscale(100%);
  opacity: 0.8;
}

/* 헤더 검색폼 보더 */
header #right-search-form>input[type='text'] {
  margin-top: 3px;
  margin-right: 18px;
  border: 1px dashed #c5c6f9;
  box-shadow:
   0 0 0 3px #fff,
   0 0 0 5px #F09290,
   0 0 0 8px #fff,
   0 0 2px 8px #c5c6f9;
  transition: 0.2s;
}
/* 헤더 검색 버튼 */
header #right-search-form>#right-search-btn {
  margin-top: 3px;
  color: #F09290;
  background: white;
  border: 1px dashed #ddd;
  box-shadow:
   0 0 0 3px #fff,
   0 0 0 5px #F09290,
   0 0 0 8px #fff,
   0 0 2px 8px #999;
  border-radius: 15px;
  transition: 0.2s;
}
/* 헤더 NAV bar */
header #header-bar>.row {
  border-radius: 10px;
  border-top: 4px solid #F09290;
  border-right: none;
  border-bottom: none;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

header #header-bar #header-top-notice strong.notice-badge {
  background: #F09290;
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */
#main .menu-wrapper {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
}

#main .menu-wrapper>.header {
  background: #F09290;
  border-radius:10px 10px 0 0;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */
#main .menu-wrapper .spacer {
  background: #e3625f;
  height: 0.15em;
}

#main .menu-wrapper>a>em {
  color: #e3625f;
}

#main .menu-wrapper a:nth-last-child(1) {
  border-radius: 0px 0px 10px 10px;
}

/*메인 콘텐츠*/
#main #main-content>div.frame {
  background: transparent;
  border-radius:10px 10px 0 0;
  border-right: none;
  border-bottom: none;
}

/*상단 바*/
#board-info {
  height: 70px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-bottom: 0.5em;
}

/*프로필 움직임*/
#board-info .pull-right {
  animation: profMov;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  position: relative;
}
#board-info #board-info-profile-img:hover{
  border: 2px solid #F09290;
  border-radius: 10px;
}


/*차우수 스텐실폰트*/
#board-info h1>a {
  font-family: stencil;
}
/* 접속자 수 글씨 색 */
#board-info #viewers-area {
  color: #F09290;
}
/*우산티콘*/
#board-info #viewers-area .fa-user:before{
  content: url(https://static-cdn.jtvnw.net/badges/v1/f00f1286-5693-4137-99f3-99f07c6e503e/1)
}
/* 숫자 앞 뒤에 들어갈 문구 */
#board-info #viewers-area #viewers:before {
  content: " 레인이 ";
  cursor: text;
}
#board-info #viewers-area #viewers:after {
  content: "명 우산 속에서 뛰노는 중";
  cursor: text;
}

#board-info #board-info-bottom {
  padding-top: 6px;
}

#board-info #board-info-bottom a {
  color: #F09290;
}

/*글목록*/
#article-list {
  background: #ffffff;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-top: 10px;
}
/*공지 ON/OFF 버튼 배경*/
#article-list #article-option-area>#article-option-area-toggle-btn {
  background: transparent;
}

/*카테고리*/
#article-list #article-list-category {
  border-top: 2px solid #F09290;
  background: -webkit-linear-gradient(110deg, #f09290 0%,#ffe1ec 11%,#ffffff 20%,#ffffff 40%,#ffffff 85%,#f19a998a 94%,#ffffff 100%);
  border-radius: 15px
}
#article-list #article-list-category>a {
  border: 2px solid;
  border-radius: 15px;
  margin: 4px 5px;
  padding: 8px 7.5px;
  background: #ffffff00;
}
#article-list #article-list-category>a.active, #article-list #article-list-category>a:hover{
  background: #ffffff00;
  transform: scale(1.05);
  box-shadow: 0px 3px 12px -7px #5b5d61 inset;
}
/*공지부분*/
#article-list>.article-list-row.notice {
  background: -webkit-linear-gradient(110deg, #f09290 0%,#ffe1ec 11%,#ffffff 20%,#ffffff 40%,#ffffff 85%,#f19a998a 94%,#ffffff 100%);
  border-radius: 12px;
}
/*인기글*/
#article-list>.article-list-row.hot {
  background: -webkit-linear-gradient(110deg, #f09290 0%,#ffe1ec 11%,#ffffff 20%,#ffffff 40%,#ffffff 85%,#f19a998a 94%,#ffffff 100%);
  border-radius: 12px;
}

.article-list-row i.fa.fa-star {
  animation: starMov;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
  display: inline-block;
}

 /*게시글 전반*/
#article-list>.article-list-row {
  border-right: none;
  border-radius: 12px;
}
/*헤더(추천수)*/
#article-list>.article-list-row>.item>.list-header>span {
  background-color: #F09290;
}
/*카테고리*/
#article-list>.article-list-row>.item>.list-title>.list-category>span {
  border: 1px solid;
  border-radius: 15px;
  padding-right: 5px;
  padding-left: 5px;
}

/*읽은 글색*/
#article-list>.article-list-row>.item>.list-title>a:visited {
  color:#666 !important
}
/*하트*/
small.favo i.fa.fa-heart:before {
  animation: heartMov;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
  color: #fb9c9c;
}


/*댓글 수*/
#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #F09290;
}

/*작성자*/
#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #F09290;
}

/*브로드캐스터 배지*/
img[src="https://static-cdn.jtvnw.net/chat-badges/broadcaster.png"] {
    content: url(https://cdn.discordapp.com/attachments/391626822779011076/649216043176165376/unknown.png);
}


/*게시글호버*/
#article-list .article-list-row:hover,
#article-list div.article-list-row.hot:hover,
#article-list div.article-list-row.notice:hover {
    transform: scale(1.025);
    box-shadow: #6196ff 0px 3px 12px -5px;
    transition: all 0.35s;
}

/*게시글 및 작성 페이지*/

#article-info,
#article-content-wrapper,
#article-reply-area,
#article-neighbor-list {
  background: #ffffff;
}

#article-info {
  border-radius: 10px 10px 0px 0px;
  margin-top: 0.5em;
}
#article-info>h2 {
  font-weight: bold;
}
#article-info>h2>span.category {
  color: #F09290 !important;
}
div#article-content-wrapper {
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px;
}
#article-content-wrapper>.header {
  border-top: 2px solid #F09290;
}

/*추천비추천*/
.vote-btn[data-type="up"] {
  border: none;
  font-size: 0;
  outline: 0 !important;
}
.vote-btn[data-type="up"]:hover {
  background: none !important;
}
.vote-btn[data-type="up"]::before {
  display: inline-block;
  background: white;
  border: solid #5cb85c 1px;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: 26pt;
  content: "\f164";
  padding-top: 17px;
  padding-left: 2px;
  font: normal 22px/1 FontAwesome;
  -moz-transition:color .2s ease;
  -o-transition:color .2s ease;
  -ms-transition:color .2s ease;
  -webkit-transition:color .2s ease;
  transition:color .2s ease;
}

.vote-btn[data-type="up"]:hover::before {
  background: #5cb85c;
  color: white;
}

.vote-btn[data-type="up"] span {
  float: left;
  padding-top: 14px;
  padding-left: 15px;
  font-size: 22px;
  color: #5cb85c;
}

.vote-btn[data-type="down"] {
  border: none;
  font-size: 0;
  outline: 0 !important;
}

.vote-btn[data-type="down"]:hover {
  background: none !important;
}

.vote-btn[data-type="down"]::before {
  display: inline-block;
  background: white;
  border: solid #0275d8 1px;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: 26pt;
  content: "\f165";
  padding-top: 17px;
  padding-left: 2px;
  font: normal 22px/1 FontAwesome;
  -moz-transition:color .2s ease;
  -o-transition:color .2s ease;
  -ms-transition:color .2s ease;
  -webkit-transition:color .2s ease;
  transition:color .2s ease;
}

.vote-btn[data-type="down"]:hover::before {
  background: #0275d8;
  color: white;
}

.vote-btn[data-type="down"] span {
  float: left;
  padding-top: 14px;
  padding-left: 15px;
  font-size: 22px;
  color: #0275d8;
}
.btn {
  border-radius: 20px;
}
.btn-group-sm>.btn, .btn-sm {
  border-radius: 20px;
}
/*댓글창*/
#article-reply-area {
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px 10px 0px 0px;
}
#article-reply-area>.header h5 {
  color: #F09290;
}
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #F09290;
}
.row.mt-2 {
  border-radius: 10px 10px 0px 0px;
  padding-top: 15px;
}
.mt-2 {
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 0.5em;
  background: white;
  padding-right: 1em;
  padding-left: 1em;
}
.mt-2.clearfix {
  padding-bottom: 1em;
  border-radius: 0px 0px 10px 10px;
}
#article-neighbor-list {
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 10px;
}
h3 {
  background: #F09290;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff;
}
a {
  color: #F09290;
}
span.a-badge i.fa.fa-info-circle {
  color: #F09290;
}

/*게시글 페이지 끝*/

/*하단 (페이지수 등등)*/
#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}
#article-list #article-list-menu>.btn.best {
  border-radius: 20px;
}
#article-list #article-list-menu>.btn.cog {
  border-radius: 20px;
}

#article-list #article-list-menu>.btn.del {
  border-radius: 20px;
}

#article-list #article-list-menu>.btn.write {
  border-radius: 20px;
}

/*페이지 목록*/
.pagination>li>a,
.pagination>li>span {
  color: #F09290;
  border-radius: 20px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #F09290;
  border-color: #F09290;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #F09290;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*하단검색*/
#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}
/* footer */
.btn-primary {
  background: #e3625f !important;
  border-radius: 20px;
}
footer span {
  color: black;
  font-weight: bold;
}
footer span a {
  color: azure;
}

/*읽어주세요*/
/*div#article-list-row-33256920 .list-title{
  background: url(https://cdn.discordapp.com/attachments/391626822779011076/564131859630391306/Untitled-1.png) no-repeat !important;
  background-size: 650px 30px !important;
  background-position: -70px !important;
}*/

/*휴방공지용*/
div#article-list-row-33847142 .list-title{
  background: url(https://cdn.discordapp.com/attachments/391626822779011076/616682365208625171/Untitled-1.png) no-repeat !important;
  background-size: 650px 30px !important;
  background-position: -70px !important;
}
