/*폰트*/
/*폰트-나눔고딕*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*폰트-카페24 아네모네*/
@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 폰트-둘기마요 */
@font-face {
  font-family: 'Dovemayo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*키프레임*/
/*하트 두근거림*/
@keyframes hertMov {
  0% {transform: scale(1);}
  50% {transform: scale(1.25);}
  100% {transform: scale(1);}
}

/*별 회전*/
@keyframes starMov {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(72deg); }
  40% { transform: rotate(144deg); }
  60% { transform: rotate(216deg); }
  80% { transform: rotate(288deg); }
  100% { transform: rotate(360deg); }
}

/*Body*/
body {
  letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'Nanum Gothic',Arial, Helvetica, sans-serif;
}

/*header*/
header {
  background-color: #B58350;
  border-bottom-color: #B58350;
}

header>#header-search-bar #header-close-search-btn {
  color: #ffffff;
}

header>#header-search-bar #header-search-input {
  border-color: #B58350;
}

header>#header-search-bar #header-search-btn {
  color: #ffffff;
}

header>#header-area>#header-bar-link {
  color: #ffffff;
}

header>#header-area>a>h1 {
  background: url('https://cdn.discordapp.com/attachments/391626822779011076/732245796606443644/9ea1581d1b217906.png') no-repeat;
  height: unset !important;
}

header>#header-area>#header-search-link {
  color: #ffffff;
}

#header-top-notice strong.notice-badge {
  background: #B58350;
}

/*nav*/
#nav#nav>.nav-header {
  background-color: #B58350;
  color: white;
}

/*main*/
/*main 상단 보드*/
#board-info h1>a {
font-family: stencil;
}

#board-info #viewers-area {
color: #B58350;
}

/*카테고리*/
#article-list #article-list-category {
  border-top: 2px solid #B58350;
  background: -webkit-linear-gradient(110deg, #b58350 0%,#f5ca9f 11%,#ffffff 20%,#ffffff 40%,#ffffff 85%,#b583508a 94%,#ffffff 100%);
}

#article-list #article-list-category>a {
  border: 2px solid;
  border-radius: 15px;
  margin: 4px 5px;
  padding: 8px 10px;
  background: #ffffff00;
}

/*추천수*/
#article-list>.article-list-row>.item>.list-header>span {
  background-color: #B58350;
}


/*댓글수*/
#article-list>.article-list-row>.item>a.list-title>small.comment-count {
  color: #B58350;
  letter-spacing: -0.05em !important;
}

/*작성자*/
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #B58350;
}

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}


/*하트*/
small.favo i.fa.fa-heart:before {
  animation: heartMov;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
  color: #fb9c9c;
}

/*별*/
.article-list-row i.fa.fa-star {
  animation: starMov;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
  display: inline-block;
}

/*공지*/
#article-list>.article-list-row.notice {
  background: -webkit-linear-gradient(110deg, #b58350 0%,#f5ca9f 11%,#ffffff 20%,#ffffff 40%,#ffffff 85%,#b583508a 94%,#ffffff 100%);
}

/*공지글 작성자 숨기기*/
#article-list>.article-list-row.notice>.item>a.list-title>.list-writer {
  display: none;
}

/*인기글*/
#article-list>.article-list-row.hot {
  background: -webkit-linear-gradient(110deg, #b58350 0%,#f5ca9f 11%,#ffffff 20%,#ffffff 40%,#ffffff 85%,#b583508a 94%,#ffffff 100%);
}

/*페이지*/
.pagination>li>a,
.pagination>li>span {
  border-radius: 20px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #B58350;
  border-color: #B58350;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #B58350;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn.square {
    border-radius: 15px;
}

.btn-primary {
  background: #B58350 !important;
}

input.form-control {
  border-radius: 15px 0px 0px 15px;
}

/*글 페이지 안*/

#article-info>h2 {
  font-weight: bold;
}

#article-content-wrapper>.header {
  border-top: 2px solid #B58350;
}

/*추천버튼*/
.vote-btn[data-type="up"] {
  border: none;
  font-size: 0;
  outline: 0 !important;
}

.vote-btn[data-type="up"]:hover {
  background: none !important;
}

.vote-btn[data-type="up"]::before {
  display: inline-block;
  background: white;
  border: solid #5cb85c 1px;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: 26pt;
  content: "\f164";
  padding-top: 17px;
  padding-left: 2px;
  font: normal 22px/1 FontAwesome;
  -moz-transition:color .2s ease;
  -o-transition:color .2s ease;
  -ms-transition:color .2s ease;
  -webkit-transition:color .2s ease;
  transition:color .2s ease;
}

.vote-btn[data-type="up"]:hover::before {
  background: #5cb85c;
  color: white;
}

.vote-btn[data-type="up"] span {
  float: left;
  padding-top: 14px;
  padding-left: 15px;
  font-size: 22px;
  color: #5cb85c;
}

.vote-btn[data-type="down"] {
  border: none;
  font-size: 0;
  outline: 0 !important;
}

.vote-btn[data-type="down"]:hover {
  background: none !important;
}

.vote-btn[data-type="down"]::before {
  display: inline-block;
  background: white;
  border: solid #0275d8 1px;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: 26pt;
  content: "\f165";
  padding-top: 17px;
  padding-left: 2px;
  font: normal 22px/1 FontAwesome;
  -moz-transition:color .2s ease;
  -o-transition:color .2s ease;
  -ms-transition:color .2s ease;
  -webkit-transition:color .2s ease;
  transition:color .2s ease;
}

.vote-btn[data-type="down"]:hover::before {
  background: #0275d8;
  color: white;
}

.vote-btn[data-type="down"] span {
  float: left;
  padding-top: 14px;
  padding-left: 15px;
  font-size: 22px;
  color: #0275d8;
}

.btn {
  border-radius: 20px;
}

/*댓글창*/
#article-reply-area>.header h5 {
  color: #B58350;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #B58350;
}
